<div id="logo"><img src="images/logo.png"/></div>
<h1>{{title}}</h1>



<div id="toolbar">
  <button id="reset" class="btn btn-secondary">Reset</button>
  <button id="filter" class="btn btn-primary">Filter</button>
  <button id="export" class="btn btn-primary">Export</button><br/>
  <table id="inputs">
    <tr>
      <td>
      {{!-- <label>Plant Code</label> --}}
        <input id="cb_year_code" type="text" placeholder="Year Code"/><br/>
        <input id="cb_year_code2" type="text" placeholder="Year Code"/>
      </td>
      <td>
        {{!-- <label>Year Code</label> --}}
        <input id="cb_plant_code" type="text" placeholder="Plant Code"/><br/>
        <input id="cb_plant_code2" type="text" placeholder="Plant Code"/>
      </td>
      <td>
        <input id="cb_day_code" type="text" placeholder="Day Number"/><br/>
        <input id="cb_day_code2" type="text" placeholder="Day Number"/>
      </td>
      <td>
        {{!-- <label>Production Date from:</label> --}}
        <input id="cb_prod_date" type="date" placeholder="Prod Date"/><br/>
        {{!-- <label>Production Date to:</label> --}}
        <input id="cb_prod_date2" type="date" placeholder="Prod Date"/>
      </td>
      <td>
        {{!-- <label>Production Time from:</label> --}}
      <input id="cb_prod_time" type="time" placeholder="Prod Time"/><br/>
      <input id="cb_prod_time2" type="time" placeholder="Prod Time"/>
      </td>
      <td>
        {{!-- <label>Pallet Number</label> --}}
        <input id="cb_pallet" type="text" placeholder="Pallet"/><br/>
        <input id="cb_pallet2" type="text" placeholder="Pallet"/>
      </td>
      <td>
        {{!-- <label>Block Number</label> --}}
        <input id="cb_block" type="text" placeholder="Block"/><br/>
        <input id="cb_block2" type="text" placeholder="Block"/>
      </td>
      <td>
        {{!-- <label>Pass / Fail</label> --}}
        <input id="cb_pass_fail" type="text" placeholder="Pass Fail"/>
      </td>
    
  </table>

</div>
<table
  id="table"
  data-show-export="true"
  data-toggle="data"
  data-filter-control="true"
  data-show-search-clear-button="true"
  data-ajax="ajaxRequest">
  <thead>
    <tr>
      <th data-visible="false" data-field="cb_id">ID</th>
      <th data-sortable="true" data-field="cb_year_code">Year Code</th>
      <th data-sortable="true" data-field="cb_plant_code">Plant Code</th>
      <th data-sortable="true" data-field="cb_day_number">Day Number</th>
      <th data-sortable="true" data-field="cb_prod_date" data-formatter="dateFormatter">Prod Date</th>
      <th data-sortable="true" data-field="cb_prod_time" data-formatter="timeFormatter">Prod Time</th>
      <th data-sortable="true" data-field="cb_pallet">Pallet</th>
      <th data-sortable="true" data-field="cb_block">Block</th>
      <th data-sortable="true" data-field="cb_pass_fail">Pass/Fail</th>
    </tr>
  </thead>
</table>

<div id="count-box">
  <h4>Rows: <span id="row-count">0</span></h4>
</div>


<div id="myModal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table>
          <tr>
            <td class="key">Year Code</td><td class="value" id="year-code"></td>
          </tr>
          <tr>
            <td class="key">Plant Code</td><td class="value" id="plant-code"></td>
          </tr>
          <tr>
            <td class="key">Day Number</td><td class="value" id="day-number"></td>
          </tr>
          <tr>
            <td class="key">Production Date</td><td class="value" id="prod-date"></td>
          </tr>
          <tr>
            <td class="key">Production Time</td><td class="value" id="prod-time"></td>
          </tr>
          <tr>
            <td class="key">Pallet Number</td><td class="value" id="pallet"></td>
          </tr>
          <tr>
            <td class="key">Block Number</td><td class="value" id="block"></td>
          </tr>
          <tr>
            <td class="key">Pass/Fail</td><td class="value" id="pass-fail"></td>
          </tr>
          <tr><img id="cheese-img" src=""></tr>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>