<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='css/bootstrap.min.css' />
    <link rel="stylesheet" href='/stylesheets/bootstrap-table.css' />
    <script src="javascripts/jquery.js"></script>
    <script language="javascript" src="js/bootstrap.min.js"></script>
    <script src="javascripts/bootstrap-table.min.js"></script>
    <script language="javascript" src="javascripts/tableControls.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
